<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
            width: 100%;
            }
            td, th {align="center"
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
   </style>
</head>
<body>
<div>
  <div class='center'>
    <div class='content'>
      <table>
                   <col width="25%">
                   <col width="75%">
                   <tr>
                       <td> <div class='title'>PoesIA: Golem</div> </td>
                       <td align="right"><img src='../static/logo_poemad.jpg' alt='Logo Poemad'></td>
                   </tr>
      </table>
      <table>
                   <col width="25%">
                   <col width="75%">
                   <tr>
                       <td><img src='../static/golem.jpg' alt='Golem' width='80%'></td>
                       <td>Inspírame y te regalaré un poema:<br><br>
                         <br><br>
                         
                         <form class='choose-file-button' type='text'>
                            <input id="reviewText" type="text" name="firstname" value="">
                         </form>
                                                  
                         <div class='analyze'>
                            <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Crear</button>
                         </div>
                     </td>
      </table>
      <div class='no-display'>
        <!--
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
        -->
      </div>
      
      <!--
      <button class='choose-file-button' type='button' onclick='showPicker()'>Nueva Imagen</button>
      <div class='upload-label'>
        <label id='upload-label'>Imagen no elegida</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      -->
      
      <!--
      <form class='choose-file-button' type='text'>
          <input id="reviewText" type="text" name="firstname" value="">
      </form>
      -->
      
      <!--
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Crear</button>
      </div>
      -->
      
      <table>
        <col width="20%">
        <col width="60%">
        <col width="20%">
        <tr>
          <td></td>
          <td>
              <div class='result-label'>
              <label id='result-label'></label>
              </div>
          </td>
          <td></td>
        </tr>
      </table>

    </div>
  </div>
</div>
</body>
</html>
